<%- include ('../partials/header') %>
<div class="container my-5">
        <header class="jumbotron">
            <h1>
                All about contacts
            </h1>
        </header>
        <div>
            <p>All of my info</p>
        </div>
</div>
<%- include ('../partials/footer') %>